.sidebar {
  display: flex;
  flex-direction: column;
  width: 4vw; /* a little wider for icons */
  background-color: #000;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 100%;
  align-items: center;
  padding-top: 10px;
}

.sidebar a {
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  color: gray; /* icon color */
  font-size: 15px; /* icon size */
  transition: all 0.3s ease;
}

.sidebar a:last-child {
  border-bottom: none; /* remove last line */
}

.sidebar a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #1e90ff; /* highlight color on hover */
}
