<div class="card-con">
  
  <header><i class="fa-solid fa-square" ></i> {{ title }}</header>
  <main>
    <input type="text" placeholder="Enter a brief description" id="description" />
    <div class="color-con">
      <input type="color" value="#808080" id="colorPicker" />
      <label for="colorPicker">Select Chevron color</label>
    </div>
    <input type="type" placeholder="Start date" />
    <input type="type" placeholder="End date" />
  </main>
  <footer>
    <input type="text" placeholder="CAPEX (GBP)"/>
    <input type="text" placeholder="OPEX (GBP)" />
  </footer>
</div>
